body {
    height: 750px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
  
  .navbar {
    max-height: 50px;
    background-color: rgb(255, 255, 255);
  }
  .navigation .navbar-brand {
    color: rgb(2, 9, 10);
    margin-left: 0px;
    padding: inherit;
    background-color: rgb(255, 255, 255);
  }
  .navbar {
    
    font-size: 25px; 
    background-color: rgb(255, 255, 255);
  }
  .active, .dropdown-menu .dropdown-item:active a:hover {
    background-color: rgb(255,255,255);
  }
  .dropdown-item {
    color: rgba(3, 8, 8, 0.75);
  }
  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(149, 151, 151, 0.75);
  }
  
  .nav-link:hover {
    background-color:rgba(149, 151, 151, 0.75);
   }
  
  .navbar-brand:hover {
  color: rgba(149, 151, 151, 0.75);
  }
  a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: rgb(255, 255, 255);
  }

  h3 {
    color: rgb(4, 4, 10);
    font-size: 25px;
  }
  
  img{
    width:100%;
    height:100%;
  }
  .active, .panel:hover {
    border-color:rgb(7, 16, 17);
    border-style: solid;
    background-color: rgba(13, 223, 238, 0.75);
    
  }
  
  p {
  color: rgb(15, 3, 10);
  font-family: 'segoe ui';
  font-size: 16px;
  }
  
  
  